<div class="container">
    <div class="column_order">
        <div class="container_order">
            <div class="order btn">
                <span>
                    {{order_text}}
                </span>
            </div>
        </div>
    </div>
    <div class="desc">
        {{choose_text}} <span class="total_quantity">{{total_quantity}} {{quantity_text}}</span> {{with_text}} <span class="total_price">{{total_price}} {{currency_text}}.</span>
    </div>
</div>