<div class="region_original">
    <div class="container_expand">
        <a class="expand glyphicon glyphicon-menu-hamburger" href="#"></a>
    </div>
    <div class="container_logo">
        <a class="logo" href="/{{lang}}/"></a>
    </div>
    <div class="container_lang">
        <a href="/{{lang}}/" data-lang="ru" class="lang">{{lang_text}}</a>
    </div>
</div>
<ul class="region_expand collapse out list-unstyled">
   <li>
       <a href="/{{lang}}/menu/">{{menu}}</a>
   </li>
   <li>
       <a href="/{{lang}}/shipping/">{{shipping}}</a>
   </li>
   <li>
       <a href="/{{lang}}/news/">{{news}}</a>
   </li>
   <li>
       <a href="/{{lang}}/contact/">{{contact}}</a>
   </li>
   <li>
       <a href="/{{lang}}/vacancy/">{{vacancy}}</a>
   </li>
</ul>