<div class="container">
    <ul class="navbar-left list-inline">
        <li data-link="menu">
            <div class="container_hex">
                <span class="hex"></span>
            </div>
            <a href="/{{lang}}/menu/">{{menu}}</a>
        </li>
        <li data-link="shipping">
            <div class="container_hex">
                <span class="hex"></span>
            </div>
            <a href="/{{lang}}/shipping/">{{shipping}}</a>
        </li>
    </ul>
    <div class="container_logo">
        <a class="logo" href="/{{lang}}/"></a>
    </div>
    <ul class="navbar-right list-inline">
        <li data-link="news">
            <a href="/{{lang}}/news/">{{news}}</a>

            <div class="container_hex">
                <span class="hex"></span>
            </div>
        </li>
        <li data-link="contact">
            <a href="/{{lang}}/contact/">{{contact}}</a>

            <div class="container_hex">
                <span class="hex"></span>
            </div>
        </li>
    </ul>
    <div class="region_ribbon"></div>
</div>