<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 newsitem_detail">
            <div class="container_heading">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="date">
                            {{ date }}
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="title">
                            {{ title }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_desc">
                <div class="desc">
                    {{ text }}
                </div>
                <div class="close">
                    <img src="/static/svg/close_black.svg" alt="">
                </div>
            </div>
            {{# if image_list}}
                <div class="container_carousel">
                    <div id="newsimage_carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {{#each image_list}}
                                <li data-target="#newsimage_carousel" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
                            {{/each}}
                        </ol>

                        <div class="carousel-inner" role="listbox">
                            {{#each image_list}}
                                <div class="item {{#unless @index}}active{{/unless}}">
                                    <img src="{{.}}" alt="">
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

    </div>
</div>